


*{
    margin: 0;
    padding: 0;
    font-family: "Besley", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

header {
    background-image: url('images/pexels-david-bartus-43782-1166209.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
nav {
    /* max-width: 1200px; */
    
    margin: auto;
    padding-bottom: 8px;
    background-color: rgba(131, 71, 126, 0.5);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-top: 8px;
    padding-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    top: 3px;
    font-size: x-large;
}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

nav ul li.active a {
    background-color: #fff;
    color: #000;
}


.burger {
    display: none;
    float: right;
    cursor: pointer;
    margin-top: 7%;
    margin-right: 10%;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 50px;
    transition: all 0.3s ease;
}


.logo {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
