


*{
    margin: 0;
    padding: 0;
    font-family: "Besley", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

header {
    background-image: url('images/pexels-david-bartus-43782-1166209.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
nav {
    /* max-width: 1200px; */
    
    margin: auto;
    padding-bottom: 8px;
    background-color: rgba(131, 71, 126, 0.5);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-top: 8px;
    padding-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    top: 3px;
    font-size: x-large;
}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

nav ul li.active a {
    background-color: #fff;
    color: #000;
}


.burger {
    display: none;
    float: right;
    cursor: pointer;
    margin-top: 7%;
    margin-right: 10%;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 50px;
    transition: all 0.3s ease;
}


.logo {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media screen and (max-width: 767px) {
    .logo {
        z-index: 300px;
        top: 75%;
    }
    .logo img {
        width: 350px;
    }
nav{
    background-color: transparent;
}
    .address {
        margin: auto;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .floating-btn {
        height: 50px;
        width: 50px;
    }
    .contact-box {
        width: 350px;
    }
    .name {
        width: 250px;
    }
    .email {
        width: 250px;
    }
    .message {
        width: 250px;
    }
    body {
        overflow-x: hidden;
    }
    /* nav {
        top: 100px;
        padding-top: 40px;
        border: solid 2px black;
    } */
    .burger {
        display: block;
    }
    .nav-links {
        display: flex;
        /* background-color: red; */
        justify-content: space-around;
        width: 30%;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        /* top: 8vh; */
        background-color:  rgba(131, 71, 126, 0.5);;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .callout{
        right:auto;
        bottom: 50px;
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}